@use "global" as *;

.p-task {
  background: #EEEEEE;
}

.p-task__inner {
  padding-top: rem(140);
  padding-bottom: rem(43);
  @include mq(md) {
    padding-top: rem(285);
  }
}

.p-task__lists {
  position: relative;
  max-width: rem(1000);
  width: 100%;
  margin: auto;
  background: $white;
  padding: rem(60) rem(20) rem(20);
  @include mq(md) {
    padding: rem(83) rem(30) rem(20);
  }
}

.p-task__lists::before {
  position: absolute;
  content: "";
  background: url(../images/common/illust-1.png) no-repeat;
  background-size: contain;
  width: rem(250);
  height: rem(150);
  top: rem(-70);
  left: 50%;
  transform: translateX(-50%);
  @include mq(md) {
    width: rem(553);
  height: rem(327);
  top: rem(-180);
  }
}

.p-task__list {
  position: relative;
  font-size: rem(20);
  font-weight: $bold2;
  padding-left: rem(40);
  @include mq(md) {
    font-size: rem(23);
  }
}

.p-task__list::before {
  position: absolute;
  content: "";
  background: url(../images/common/icon-check.svg) no-repeat;
  background-size: contain;
  width: rem(35);
  height: rem(32);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  @include mq(md) {
    width: rem(40);
  height: rem(37);
  }
}

.p-task__list span {
  color: $red;
}

.p-task__list + .p-task__list {
  margin-top: rem(30);
}

.p-task__img {
  max-width: rem(570);
  width: 100%;
  margin: rem(30) auto 0;
  @include mq(md) {
    margin: rem(59) auto 0;
  }
}

.p-task__text-block {
  margin-top: rem(30);
  @include mq(md) {
    margin-top: rem(15);
  }
}